<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Prodcut </title>
</head>
<body>
    <form 
    
    action="/bankings/single"
    method="post"
    enctype="multipart/form-data"
    >
    <input type="text" name="username" value="" id="one" placeholder="banking"/>
    <input type="text" name="password" value="" placeholder="password"/>
    <!-- <input type="file" name="productImages"  /> -->
    <input type="submit"  value="Submit"/>

</form>
<script>
    var user = document.getElementById("one").value
    console.log("user::",user)
   
</script>
</body>
</html>